<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="Console.cshtml.css">

</head>

<body>
    <div class="consistent-header-parent">
        <h5 class="consistent-header">
            Console Output
        </h5>
        <div class="console-content">
            <div class="console-top-line">>>> </div>
            <div class="console-error-line"></div>
        </div>
    </div>
</body>

</html>
