<div id=mainContainer>
  <nav class="collapse d-lg-block sidebar left-sidebar-menu">
    <div class="consistent-header-parent task-button-header-parent">
      <h5 class="consistent-header">Tasks</h5>
      @* <button class="tasks-button">Open Tasks</button> *@
      <button class="tasks-button" onclick="openTasksModal()">Select a task</button>
    </div>

    <h5 class="consistent-header">
      Code Blocks
    </h5>
    <div class="card">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseOne">
              Variables
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
          <div class="card-body" id="variableContainer" ondrop="drop(event)" ondragover="allowDrop(event)">
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Logic
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
          <div class="card-body" id="logicContainer">
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Math
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
          <div class="card-body" id="expressionContainer"></div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour">
            Functions
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
        <div class="card-body" id="functionContainer">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
            aria-expanded="false" aria-controls="collapseFive">
            Scope
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
        <div class="card-body" id="scopeContainer">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
            aria-expanded="false" aria-controls="collapseSix">
            Equality
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
        <div class="card-body" id="equalityContainer">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
            aria-expanded="false" aria-controls="collapseSeven">
            Assignment
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-bs-parent="#accordion">
        <div class="card-body" id="assignmentContainer">
        </div>
      </div>
    </div>
  </nav>

  <div class="consistent-header-parent">
    <div class="task-description">
      <h5 class="consistent-header">
        Task Description
      </h5>
        <div class="description-of-selected-task"></div>
      <br><br>
    </div>
    <div class="content-wrapper">
      <h5 class="consistent-header">
        Code Editor
      </h5>

      <div class="tab-headers">
        <div class="tab active" data-tab-id="1">
          <span class="tab-title">Tab 1</span>
          <button class="close-tab">x</button>
        </div>
        <!-- Dynamically added tabs will appear here -->
        <button id="addTab">+</button>

        <!-- ======================================== -->
        <!-- ======= Run / Stop Code Section ======== -->
        <!-- ======================================== -->
        @* Run Button *@
        @* <li class="nav-item run">
        <div class="run">
        <button id="run-button"></button>
        <span><b>Run</b></span>
        </div>
        </li> *@

        @* Stop Button *@
        @* <li class="nav-item stop">
        <div class="stop">
        <button id="stop-button"></button>
        <span><b>Stop</b></span>
        </div>
        </li> *@

      </div>

      <!-- Tab content -->
      <div class="tab-contents">
        <br><br>
        <div class="tab-content active testContainer2 line-container" id="test2" data-tab-id="1">
          @* Content for Tab 1 *@
        </div>
        <!-- Dynamically added tab contents will appear here -->
      </div>

    </div>

    <!-- ======================================== -->
    <!-- =========== Console Section ============ -->
    <!-- ======================================== -->
    <div class="console-container">
      <partial name="Console" class="the-console" />
    </div>

  </div>

  <!-- ======================================== -->
  <!-- ========Tutorial Video Section ========= -->
  <!-- ======================================== -->

  @* <div class="container tutorial-sidebar">

  <!-- ======================================== -->
  <!-- ============ Tasks Section ============= -->
  <!-- ======================================== -->

  <div class="tasks-container">
  <partial name="TasksModal" />
  </div>

  <partial name="TutorialSidebar" />

  </div> *@

  <div id="tasksContainer">
    <partial name="TasksModal" />
  </div>
</div>
<script>
  function openTasksModal()
  {
    $('#tasksModal').modal('show');
  }

  function closeModal()
  {
    document.querySelector('.modal-overlay').style.display = 'none';
    document.getElementById('tasksModal').style.display = 'none';
  }

  document.querySelector('.modal-overlay').addEventListener('click', function ()
  {
    closeModal();
  });

  protected void Page_Load(object sender, EventArgs e) {
    tasksContainer.Visible = false;
  }

  protected void openTasksModal_ServerClick(object sender, EventArgs e) {
    tasksContainer.Visible = true;
  }
</script>
<script type="module" defer src="js/testing.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="~/js/tabs.js"></script>
