p
{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
 
button {
    color: black;
    text-decoration: none;
}
.sidebar {

    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
#headingOne {
    background-color: #E87A7A;
}
#headingTwo {
    background-color: #DFE87A;
}
#headingThree {
    background-color: #E8CF7A;
}

#collapseOne {
    background-color: #E5A4A4;
}

#headingFour {
    background-color: #7AE87E;
}

#headingFive {
    background-color: #7A85E8;
}

#collapseTwo {
    background-color: #E1E4BB;
}

#collapseThree {
    background-color: #DFD4B0;
}

#collapseFour {
    background-color: #BBE1BC;
}

#collapseFive {
    background-color: #D4D7F3;
}

#headingSix {
    background-color: #E87AE3;
}

#collapseSix {
    background-color: #EAA9E7;
}

#headingSeven {
    background-color: #63CFF1;
}

#collapseSeven {
    background-color: #9CD4E5;
}

#mainContainer
{
    display: flex;
    flex-direction: row;


}

.content-wrapper {
    background-color: rgb(231, 231, 231);   
    min-height: 100vh; 
    min-width: 90vw;
    border-radius: 20px;
}

.tab-headers {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    position: relative; 
    top: 1px; 
    transition: all 0.3s ease;
}

.tab:hover {
    background-color: #f0f0f0;
}

.tab.active {
    background-color: #f0f0f0;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.1) inset; 
}

.close-tab {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

.tab-content {
    border: 1px solid #ddd;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}


.tab-content.active {
    display: block;
}