<br>
<span class="logo"> </span> 
<h1>@ViewData["Title"]</h1>


<div classname="HelpPage_Description">
    <p> CodeCraft is a brand new game that helps users to learn about programming in a fun and exciting way! </p>
    
    <h3> Navigating The Website:</h3>
    <p> In the top Navigation Bar, this contains links to the Home Page, Help Page (current page), & Privacy Page</p>
    <br>
    <h3> Example Images</h3>
    <p></p>


</div>
