<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="Tasks.cshtml.css">
    <style>
        .task-square:hover {
            background-color: rgb(206, 204, 204);
        }

        .task-active {
            background-color: rgb(137, 136, 136) !important;
        }

        .task-square {
            width: 30px;
            height: 30px;
            background-color: rgb(234, 231, 231);
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            transition: background-color 0.2s;
            border: 1px solid #000;
        }

        .label {
            text-align: center;
            font-weight: bold;
        }

        .line {
            background-color: white;
            height: 2px;
        }
    </style>
</head>

<body class="tasks-body">
    <h5 class="tasks-header">Tasks</h5>

    <div class="label">Easy</div>
    <div class="easy-tasks task-group"></div>
    <div class="line"></div>
    <div class="label">Medium</div>
    <div class="medium-tasks task-group"></div>
    <div class="line"></div>
    <div class="label">Hard</div>
    <div class="difficult-tasks task-group"></div>

    <script>
        const easyTasksContainer = document.querySelector('.easy-tasks');
        const mediumTasksContainer = document.querySelector('.medium-tasks');
        const difficultTasksContainer = document.querySelector('.difficult-tasks');
        let taskNumber = 1;

        for (let row = 1; row <= 10; row++)
        {
            for (let col = 1; col <= 10; col++)
            {
                const taskSquare = document.createElement('div');
                taskSquare.classList.add('task-square');
                taskSquare.dataset.task = taskNumber;
                taskSquare.textContent = taskNumber;

                taskSquare.addEventListener('click', () =>
                {
                    const allTaskSquares = document.querySelectorAll('.task-square');
                    allTaskSquares.forEach(otherSquare =>
                    {
                        otherSquare.classList.remove('task-active');
                    });

                    taskSquare.classList.add('task-active');
                });

                if (taskNumber <= 20)
                {
                    easyTasksContainer.appendChild(taskSquare);
                } else if (taskNumber <= 80)
                {
                    mediumTasksContainer.appendChild(taskSquare);
                } else
                {
                    difficultTasksContainer.appendChild(taskSquare);
                }

                taskNumber++;
            }
        }
    </script>
</body>

</html>
