<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="TutorialSidebar.cshtml.css">
</head>

<body class="tutorial-body">
    <h5 class="tutorial-header">Tutorials</h5>
    <hr>
    <div id="accordionCategories" class="custom-accordion">
        <div class="card">
            <div class="card-header tutorial-card-header" id="variablesHeading">
                <h2>
                    <a href="#variablesCollapse" data-toggle="collapse" aria-expanded="true"
                        aria-controls="variablesCollapse">
                        1. Variables
                    </a>
                </h2>
            </div>
            <div id="variablesCollapse" class="collapse" aria-labelledby="variablesHeading"
                data-parent="#accordionCategories">
                <div>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header tutorial-card-header" id="logicHeading">
                <h2>
                    <a href="#logicCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="logicCollapse">
                        2. Logic
                    </a>
                </h2>
            </div>
            <div id="logicCollapse" class="collapse" aria-labelledby="logicHeading" data-parent="#accordionCategories">
                <div>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header tutorial-card-header" id="mathHeading">
                <h2>
                    <a href="#mathCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="mathCollapse">
                        3. Math
                    </a>
                </h2>
            </div>
            <div id="mathCollapse" class="collapse" aria-labelledby="mathHeading" data-parent="#accordionCategories">
                <div>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header tutorial-card-header" id="functionsHeading">
                <h2>
                    <a href="#functionsCollapse" data-toggle="collapse" aria-expanded="true"
                        aria-controls="functionsCollapse">
                        4. Functions
                    </a>
                </h2>
            </div>
            <div id="functionsCollapse" class="collapse" aria-labelledby="functionsHeading"
                data-parent="#accordionCategories">
                <div>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header tutorial-card-header" id="scopeHeading">
                <h2>
                    <a href="#scopeCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="scopeCollapse">
                        5. Scope
                    </a>
                </h2>
            </div>
            <div id="scopeCollapse" class="collapse" aria-labelledby="scopeHeading" data-parent="#accordionCategories">
                <div>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header tutorial-card-header" id="equalityHeading">
                <h2>
                    <a href="#equalityCollapse" data-toggle="collapse" aria-expanded="true"
                        aria-controls="equalityCollapse">
                        6. Equality
                    </a>
                </h2>
            </div>
            <div id="equalityCollapse" class="collapse" aria-labelledby="equalityHeading"
                data-parent="#accordionCategories">
                <div>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header tutorial-card-header" id="assignmentHeading">
                <h2>
                    <a href="#assignmentCollapse" data-toggle="collapse" aria-expanded="true"
                        aria-controls="assignmentCollapse">
                        7. Assignment
                    </a>
                </h2>
            </div>
            <div id="assignmentCollapse" class="collapse" aria-labelledby="assignmentHeading"
                data-parent="#accordionCategories">
                <div>
                    <video controls width="100%" height="auto">
                        <source src="~/videos/dummy.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
