html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.code-block {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 5vw;
  min-width: 5vw;

  text-align: center;

  margin-top: 1vh;
  
  /* margin-left: 70px; 
  transform: scale(0.9);*/
}

.code-block-slot {
  height: 5vw;
  min-width: 10vw;
  border: black 2px solid;
  margin-top: 1vh;
  /* margin-left: 70px; 
  transform: scale(0.9);*/
}

.varlit {
  min-height:2.5vw;
  min-width: 2.5vw;
  background-image: linear-gradient(to right, palevioletred, white);
  border: black 2px solid;
  margin-right: 1vw;
  margin-left: 1vw;
}

.var {
  min-height:2.5vw;
  min-width: 2.5vw;
  background-color: red;
  border: black 2px solid;
  margin-right: 1vw;
  margin-left: 1vw;
}

.dummy.lit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  aspect-ratio: 1;
  background-color: white;
  border: black 2px solid;
  margin: 0.5vw;
}

.equality-block {
  background-color: orchid;
}

.expression-block {
  background-color: orange;
}

.assignment-block {
  background-color: rgb(110, 75, 239);
}

.function-block {
  background-color: lightgreen;
}

.scope-block {
  background-color: cyan;
  border: blue;
}

.logic-block {
  background-color: yellow;
}

.sideBar {
  height: 100%;
  min-width: 0.5vw;
}

.scope-block .right {
  background-color: orchid;
}

.equality-block .right {
  background-color: yellow;
}

.assignment-block .right {
  background-color: orange;
}

.logic-block .right {
  background-color: orchid;
}

.expression {
  height: fit-content;
  font-size: 2rem;
  font-weight: bold;
}

.line {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scope-divider {
  height: 5vw;
  width: 5vw;
  background-color: cyan;
  background-image: linear-gradient(90deg, transparent 93%, white 7%);
  margin-top: 0vh;
  /*transform: scale(0.9);*/
}

.scope-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: min-content;
}

.else {
  background-image: linear-gradient(90deg, cyan 93%, black 7%);
}

.dialogButtonContainer
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.testContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  border: 1px solid black;
}

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

input[type="text"], input[type="number"], select {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-width: 5px;
  margin: 1vw;
}

.literal-block input[type="number"] {
  width: 3ch;
}



.consistent-header-parent {
  border-radius: 5px;
  margin: 10px;
  width: 66vw;
  margin-left: 0px;
}

.consistent-header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.variable-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: red;
  border: black 2px solid;
  margin: 1vw;
  padding: 1vh;
}



.variable-name 
{
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0;
}

/* Checkbox CSS */

input[type="checkbox"]{
  -webkit-appearance: initial;
  appearance: initial;
  min-width: 5ch;
  min-height: 4ch;
  border: none;
  background: white;
  position: relative;
  color: black;
  cursor: pointer;
  border: black 2px solid;
  border-radius: 5px;
  margin: 1vw;

  font-weight: bold;
}

input[type="checkbox"]:checked:after {
  /* Heres your symbol replacement - this is a tick in Unicode. */
  content: "True";
  /* The following positions my tick in the center, 
   * but you could just overlay the entire box
   * with a full after element with a background if you want to */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

}



input[type="checkbox"]:not(:checked):after {
  /* Heres your symbol replacement - this is a tick in Unicode. */
  content: "False";
  /* The following positions my tick in the center, 
   * but you could just overlay the entire box
   * with a full after element with a background if you want to */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}


/* Login Page CSS */

.login-box {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #FFC300;
  padding: 20px;

  max-width: 500px; 
  margin: auto;
}

/* Registration Page CSS */

.registration-box {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #FFC300;
  padding: 20px;

  max-width: 500px; 
  margin: auto;
}

/* mobile screens */
@media (max-width: 768px) {
  .container.login-box {
      width: 100%;
  }

  .text-center img {
      width: 80%;
      height: auto;
  }

  .form-group {
      margin: 10px 0;
  }

  .btn {
      display: block;
      width: 50%;
      margin-bottom: 10px;
  }
}

.sticky-footer {
  margin-top: 0px;
}